* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./Inter-VariableFont_opsz\wght.ttf');
}

.container {
  min-height: 100%;
}

.container__items {
  min-width: 100%;
  display: grid;
  grid-template-rows: 40% 26% 34%;
  grid-template-columns: 36% 28% 36%;
  gap: 0;
}

.image__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column-1 {
  display: grid;
  grid-row: 3 span;
  grid-template-columns: 1fr;
  grid-template-rows: 66% 34%;
}

.item {
  width: 100%;
  height: 100%;
}

.item__first {
  grid-row: 1 span;
}

.item__first_content {
  margin-top: 40px;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.item__first_header {
  text-align: center;
  padding: 20px;
  font-size: 64px;
  font-family: 'Inter', sans-serif;
}

.item__first_content-icons {
  padding-bottom: 20px;
  text-align: center;
}

.icon {
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
}

.item__second {
  background: gray;
}

.item__second_desc {
  height: 100%;
  padding: 0 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__second_desc-content {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  color: white;
}

.column-2 {
  display: grid;
  grid-row: 3 span;
  grid-template-columns: 55% 45%;
  grid-template-rows: 66% 34%;
}

.item__third {
  grid-row: 1 span;
  grid-column: 2 span;
}

.item__fourth {
  grid-column-start: -3;
}

.item__fifth {
  background: #a6806b;
}

.column-3 {
  display: grid;
  grid-template-columns: 49% 51%;
  grid-template-rows: 40% 26% 34%;
  grid-row: 3 span;
}

.item__eighth {
  grid-row: 3 span;
}

.item__ninth {
  width: 100%;
  min-height: 100%;
  background: #a61c1c;
}

.item__tenth {
  width: 100%;
}

@media (max-width: 1200px) {
  .item__first_header {
    font-size: 48px;
  }
}

@media (min-width: 1280px) {
  .icon {
    width: 60px;
    height: 60px;
  }

  .item__second_desc-content {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .item__first_header {
    font-size: 40px;
  }

  .item__second_desc-content {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item__second_desc-content {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    overflow: hidden;
  }

  .container__items {
    display: block;
  }

  .column-1 {
    display: flex;
    flex-direction: column;
  }

  .item__first {
    height: 550px;
  }

  .item__first_header {
    font-size: 50px;
    margin-top: 60px;
    height: 600px;
  }

  .item__second_desc {
    padding: 20px;
  }

  .item__second_desc-content {
    font-size: 15px;
    padding: 20px;
  }

  .icon {
    width: 60px;
    height: 60px;
  }
}
